# ignore all in this folder
/*

# except for the files
!.gitignore
!README.txt

#################################
### settings for ###
### for zjazd5_26_11_2020_pd/ ###
#################################
# except for the folder
!/zjazd5_26_11_2020_pd/
#################################


# */ - ignore, ! - except for

#################################
### settings for ###
### for zjazd6_05_12_2020_pd/ ###
#################################
# except for the folder
!/zjazd6_05_12_2020_pd/
# ignore all in that folder
/zjazd6_05_12_2020_pd/*
# except for pd-z6/
!/zjazd6_05_12_2020_pd/pd-z6
# ignore all in the subfolder pd-z6/
/zjazd6_05_12_2020_pd/pd-z6/*
# except for the subfolder src/
!/zjazd6_05_12_2020_pd/pd-z6/src/
# ignore all in the src/
/zjazd6_05_12_2020_pd/pd-z6/src/*
# except /app
!/zjazd6_05_12_2020_pd/pd-z6/src/app/
# except for the main html and css files
!/zjazd6_05_12_2020_pd/pd-z6/src/index.html
!/zjazd6_05_12_2020_pd/pd-z6/src/styles.css
#################################
