# ignore all in this folder
/*

# except for the files
!.gitignore
!README.txt

#################################
### settings for ###
### zjazd5_26_11_2020_pd/ ###
#################################
# except for the folder
!/zjazd5_26_11_2020_pd/
#################################


# */ - ignore, ! - except for

#################################
### settings for ###
### zjazd6_05_12_2020_pd/ ###
#################################
# except for the folder
!/zjazd6_05_12_2020_pd/
# ignore all in that folder
/zjazd6_05_12_2020_pd/*
# except for pd-z6/
!/zjazd6_05_12_2020_pd/pd-z6
!/zjazd6_05_12_2020_pd/README.md
# ignore all in the subfolder pd-z6/
/zjazd6_05_12_2020_pd/pd-z6/*
# except for the subfolder src/
!/zjazd6_05_12_2020_pd/pd-z6/src/
# ignore all in the src/
/zjazd6_05_12_2020_pd/pd-z6/src/*
# except /app
!/zjazd6_05_12_2020_pd/pd-z6/src/app/
# except for the main html and css files
!/zjazd6_05_12_2020_pd/pd-z6/src/index.html
!/zjazd6_05_12_2020_pd/pd-z6/src/styles.css
#################################


#################################
### settings for ###
### /zad_zal_sem1_10_01_2021  ###
#################################
# except for the folder
!/zad_zal_sem1_10_01_2021/
# ignore all in that folder
/zad_zal_sem1_10_01_2021/*
# except for tetris/
!/zad_zal_sem1_10_01_2021/tetris
!/zad_zal_sem1_10_01_2021/README.md
# ignore all in the subfolder tetris/
/zad_zal_sem1_10_01_2021/tetris/*
# except for the package.json and package-lock.json
!/zad_zal_sem1_10_01_2021/tetris/package.json
!/zad_zal_sem1_10_01_2021/tetris/package-lock.json
# except for the subfolder src/
!/zad_zal_sem1_10_01_2021/tetris/src/
# ignore all in the src/
/zad_zal_sem1_10_01_2021/tetris/src/*
# except /app
!/zad_zal_sem1_10_01_2021/tetris/src/app/
# except for the main html and css files
!/zad_zal_sem1_10_01_2021/tetris/src/index.html
!/zad_zal_sem1_10_01_2021/tetris/src/styles.css

#################################
