.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.button-link {
    background-color: #008CBA; /* blue */
    border: none;
    border-radius: 0.4em;
    color: white;
    padding: 0.4em 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
}

.button-link:hover {
    cursor: pointer;
}

.disabled-link {
    background-color: lightgray;
    cursor: auto;
    pointer-events: none;
}
