<div>
    <br>
    <hr/>
    <h2>task3</h2>
    <h3>People in the Room, v2</h3>
    <br>
    <p>Max number: {{maxOccup}} </p>
    <p [ngStyle]="{color: warnColor}">Current number: {{people.length}} </p>
    <input name="persToAdd" type="text"
	   [(ngModel)]="persToAdd"/>
    <button type="button" (click)="addPerson()">
	Add
    </button>
    <h4>Currently in the room are:</h4>
    <button type="button" (click)="remAllPeople()">
	Ask them all to leave
    </button> <br> <br>
    <ul> <!-- ul zamiast ol na prosbe prowadzacego -->
        <li *ngFor="let person of people; let index = index">
	    {{index+1}}. {{person}}
	    <button type="button" (click)="remPerson(index)">
		ask to leave
	    </button>
	</li>
    </ul>
<div>
