<div>
  <div class="edit_person_banner" [ngStyle]="{display: persEdBanDispl}">
    <h2>edit a person data</h2>
    You are editing a person named: {{editedPerson.getName()}}
    <br>
    that likes: {{editedPerson.getInterests()}}
    <hr/>
    <label for="persNameToAdd">New name: </label>
    <input name="persNameToAdd" type="text"
	   [(ngModel)]="persNameToAdd"/>
    <label for="interests"> Interests: </label>
    <select name="interests" id="interests"
	    [(ngModel)]="choosenInterest">
      <option [ngValue]="intr" *ngFor="let intr of interests" >
	{{intr}}
      </option>
    </select>
    &nbsp;
    <button type="button" (click)="changePersonData(editedPersonId)">
      Change
    </button>
    
  </div>

  <hr/>
  <h2>task4</h2>
  <h3>People in the Room, v3</h3>
  <h4>(and their preferences)</h4>
  <br>
  <p>Max number: {{maxOccup}} </p>
  <p [ngStyle]="{color: warnColor}">Current number: {{people.length}} </p>
  <label for="persNameToAdd">Name: </label>
  <input name="persNameToAdd" type="text"
	 [(ngModel)]="persNameToAdd"/>
  <label for="interests"> Interests: </label>
  <select name="interests" id="interests"
	  [(ngModel)]="choosenInterest">
    <option [ngValue]="intr" *ngFor="let intr of interests" >
      {{intr}}
    </option>
  </select>
  &nbsp;
  <button type="button" (click)="addPerson()">
    Add
  </button>
  <h4>Currently in the room are:</h4>
  <button type="button" (click)="remAllPeople()">
    Ask them all to leave
  </button> <br> <br>
  <ul> <!-- ul zamiast ol na prosbe prowadzacego -->
    <li *ngFor="let person of people; let index = index">
      {{index+1}}. {{person.getName()}} likes {{person.getInterests()}} 
      <button type="button" (click)="remPerson(index)">
	ask to leave
      </button> &nbsp;
      <button type="button" (click)="enableDataEdition(index)">
	edit data
      </button>
    </li>
  </ul>
  <div>
