button {
  background-color: #3584d4; /* blue */
  border: none;
  color: white;
  padding: 0.4em 0.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 0.4em;
}

button:hover {
  cursor: pointer;
  background-color: #3584ff; /* different blue */
}

table > tr > td {
  vertical-align: top;
  padding: 1em;
  width: 25%;
}

table > tr > td > table > tr > td {
  vertical-align: top;
  padding: 0.5em;
}
