<div [ngStyle]="{ display: displayMe }">
  <player-info [playerName]="playerName" [playerEmail]="playerEmail">
  </player-info>

  <p>Score: {{points}}</p>
  <p>Time: {{time}}</p>

  <button (click)="exitGameButton(true)">Exit the game</button>
  <br />
  <br />
  <button (click)="startGame()">Start</button>
  &nbsp;
  <button (click)="stopGame()">Stop</button>
  &nbsp;
  <button (click)="resetGame()">Reset</button>
  &nbsp;
  <button (click)="drukujStatus()">Zobacz</button>

  <!-- <p>Game status: {{gameStatusDesc}}</p> -->

  <tetris-core #game (lineCleared)="onLineCleared()"></tetris-core>


  <table>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <button (click)="game.actionLeft()">&#8678;</button>
      </td>
      <td>
        <button (click)="game.actionRotate()">&#10226;</button>
      </td>
      <td>
        <button (click)="game.actionRight()">&#8680;</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button (click)="game.actionDown()">&#8681;</button>
      </td>
      <td></td>
    </tr>
  </table>
</div>
